.creative-coding {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #creative-coding-text {
    padding-top: 7%;
    padding-bottom: 7%;
  }


  .grid-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:10px;
    margin-top: 80px;
  }
  
  .grid-item {
    width:calc(24% - 5px);
    position: relative; /* Added */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
  }
  

  .grid-item-text,
  .grid-item-buttons {
    position: absolute; /* Absolute positioning */
    width: 100%;
    transition: 0.3s ease; /* Smooth transition */
    /* Fixed typo in color declaration */
  }
  
  .grid-item-text {
    height: 100%;
    text-align: center;
    color:black;
    top: -100%; /* Initially out of view */
  }
  
  .grid-item-buttons {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      justify-content: center;  /* Centers the buttons */
      align-items: center;  
      bottom: -100%;
      gap: 10px;
      flex-wrap: nowrap;  /* Ensures items don't wrap */
  }
  
  
  .grid-item-buttons > button {
      flex: 1;  /* Makes buttons take up all available space */
      max-width: 25%;  /* Ensures no button takes more than 33% width */
      width: 100%;  /* By default, make them try to fill up their container */
      text-align: center;  /* Centers the text within the buttons */
      box-sizing: border-box;  /* Makes sure padding and border don't increase button's total width */
  }
  
  
  .grid-item-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /*     transition: border-radius 0.2s ease-in-out, width 0.3s ease, height 0.3s ease; */
  }
  
  /* .holder:hover .container {
      width: 360px;
      height: 360px;
      border-radius: 180px;
  } */
  
  .grid-item-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .grid-item:hover .grid-item-text {
    top: 0%; /* Adjust based on your needs */
  }
  
  .grid-item:hover .grid-item-buttons {
    bottom: 5%; /* Adjust based on your needs */
  }

  @media (max-width: 767px) {

    .grid-item {
      width: calc(50% - 5px);
    }
  }