.creative-coding {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #creative-coding-text {
    padding-top: 7%;
    padding-bottom: 7%;
  }


  .grid-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:10px;
    margin-top: 80px;
  }
  
  .grid-item {
    width:calc(19.75% - 5px);
    aspect-ratio: 9 / 16;
    height:auto;
    position: relative; /* Added */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
  }
  

  .grid-item-text,
  .grid-item-buttons {
    position: absolute; /* Absolute positioning */
    width: 100%;
    transition: 0.2s ease; /* Smooth transition */
  }
  
  .grid-item-text {
    width: 100%;
    height: 100%;
    text-align: center;
    color:black;
    /* top: -100%;  */
  }
  
  .grid-item-text h2 {
    padding-top: 20px;
    color:black;
    font-family: Libre Caslon;
    font-size:40px;
    line-height: 36px;
  }

  .grid-item-text p {
    font-size: 20px;
    padding-top: 8px;
    color:black;

  }

  .grid-item-buttons {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      justify-content: center;  /* Centers the buttons */
      align-items: center;  
      bottom: 0%;
      flex-wrap: nowrap;
  }
  
  
  .grid-item-buttons > button {
      flex: 1; 
      min-width: 25%; 
      width: 100%; 
      text-align: center;  
      box-sizing: border-box;
      background-color:transparent;
      border: 1px solid black;
      outline: none;
      padding:6px;
      margin:2px;
      transition: background-color 0.2s; 
  }
  
  
  .grid-item-image {
  position:relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease;
  top:0%;
  left:0%;
    /*     transition: border-radius 0.2s ease-in-out, width 0.3s ease, height 0.3s ease; */
  }
    
  .grid-item-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .grid-item:hover .grid-item-image {
    /* visibility: hidden; */
    width:50%;
    height:50%;
    top:25%;
  }

   .grid-item-buttons > button:hover{
      background-color:beige;
   }

   @media (max-width: 1500px) {
    .grid-item {
      width:calc(32.5% - 5px);;
    }
  }


  @media (max-width: 767px) {

    .grid-item-text p {
      font-size: 12px;
      padding-top: 4px;
      color:black;
  
    }
    
    .grid-item-text h2 {
      padding-top: 10px;
      color:black;
      font-family: Libre Caslon;
      font-size:20px;
      line-height: 20px;
    }
    .grid-item-buttons {
      bottom: 0%;
  }
    .grid-item-buttons > button {
      font-size:12px;
  }

    .grid-item {
      width: calc(50% - 5px);
    }
  }