* {
  margin: 0;
  padding: 0;
  font-family: 'DM Mono', monospace;
}

body{
    background-color: black;
    color: #ddd;
}
.main-container{
    margin: 5%;
    width:60%;
    font-size: large;
}

.intro-text{
    padding-bottom: 5%;
    font-weight: 500;
    
}

.intro-text > p{
    padding-top: 3%;
}

.ps-container{
    width:80%;
}
.ps-text{
    padding-bottom: 5%;
    font-size:small;
    font-weight: 300;
}

.work-list{
    padding-bottom: 5%;
}

.work-item {
    background-color:transparent;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
.work-item-infos{
    font-size: 12px;
    padding-bottom: 3%;
}

.work-item-image{
    display: flex;
    flex-wrap: wrap;
}

.work-item-image img{
    flex: none;
    width: 80%;
    height: auto;
    object-fit: cover;
}

 .work-item:hover {
    text-decoration: line-through;
  }
  
  .work-item-content {
    padding-top: 3%;
    display: none;
    overflow: hidden;
    background-color: #000;
  }

.footer{
    font-size:small;
    font-weight:500
}

a:link {
    color: white;
  }

.footer > span::after{
    content:'\a';
    white-space: pre;
}


