@font-face {
  font-family: "Libre Caslon";
  src:
    url("src/LibreCaslonCondensed-Regular.woff2") format("woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Libre Caslon";
}

body {
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: center;
}

.main-container {
  position: relative;
  display: block;
  width: 80%;
  font-size: medium;
}

.spinner-container {
  position: fixed;
  top: 5vh;
  right: 0;
  height: 200px;
  z-index: 999;
}

#spinner-canvas {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.intro{
  display: flex;
  justify-content: center; /* This will center the child elements horizontally */
  align-items: center;
  height: 100vh;
}

.intro-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#intro-title {
  box-sizing: content-box;
  font-size: clamp(10rem, 12rem, 18rem);
  line-height: 1.2;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-align: center;
}

.section-text-container {
  display: flex;
  justify-content: center;
}

.section-text {
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 40px;
}

.section-text-paragraph {
  /* text-indent: 2em; */
  flex-wrap: wrap;
  flex: 1;
  font-size: large;
}

.section-subtext {
  text-align: center;
}

.works {
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-text-noflex {
  padding: 8px;
  margin-top: 80px;
  font-size: small;
  text-align: center;
  width: 20%;
}

.work-list {
  padding-top: 5%;
  width: calc(100% - 60px);
}

.work-item-holder {
  position: relative;
  border-top: solid antiquewhite 1px;
  border-bottom: none;
}

.work-item-button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: antiquewhite;
  cursor: pointer;
  width: 100%;
  height: 45px;
  text-align: center;
  border-bottom: solid antiquewhite 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.work-item-client {
  margin-right: auto;
  text-align: right;
}

.work-item > span {
  font-family: "Inter", sans-serif;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: antiquewhite;
  transform: translateY(-50%);
  display: none; /* hide the line by default */
}

.work-item-content {
  position: relative;
  padding-bottom: 10px;
  border-bottom: solid antiquewhite 1px;
}

.work-item-infos {
  display: flex;
  align-items: stretch;
  
}

.work-item-text {
  font-size: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 0px; /* Adjust the space between the content and the line if needed */
  border-bottom: 1px solid antiquewhite;
}

.work-item-text:first-child {
  border-right: 1px solid antiquewhite; /* Change the color if needed */
}

.work-item-description {
  flex: 1;
}

.work-item-credits{
  padding-left: 2%;
}
.work-item-name,
.work-item-date {
  margin: 0;
  /* padding-top: 1%; */
}

.work-item-collaborator {
  padding-left: 2%;
}

.work-item-medias {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  
}

.work-item-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  /* object-fit: cover; */
}

.work-item-video > video{
  flex: 0;
  max-width: 80%;
  max-height: 80%;
  
  object-fit:contain;
}

video[poster] {
  flex: 0;
  width: auto;
  height: 50vh;
  object-fit: cover;
}

.work-item-medias > img {
  flex: 0;
  max-width: 100%;
  height: 50vh;
  object-fit: cover;
}

.creative-coding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#creative-coding-text {
  padding-top: 7%;
  padding-bottom: 7%;
}

.grid-container {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.grid-item {
  width: calc(
    20% - 10px
  );
}

.grid-item > img {
  width: auto;
  object-fit: cover;
}

.footer {
  margin-top: 5%;
  border-top: solid antiquewhite 1px;
  padding-top: 2%;
  font-size: small;
  font-weight: 300;
  padding-bottom: 40px;
}

.footer > span {
  font-family: 'Inter',sans-serif;
}


a:link {
  color: antiquewhite;
  font-family: 'Inter',sans-serif;
}

a:visited {
  color: antiquewhite;
}
.footer > span::after {
  content: "\a";
  white-space: pre;
}

/* For responsive layout */
@media (max-width: 767px) {

  .intro{
    display: flex;
    justify-content: center; /* This will center the child elements horizontally */
    align-items: center;
    height: auto;
  }

  .spinner-container {
    top: 3vh;
    width: auto;
    height: auto;
    pointer-events: none; 
  }

  #intro-title {
    box-sizing: content-box;
    font-size: clamp(5rem, 8rem, 10rem);
    line-height: 1.2;
  }

  .intro-container {
    justify-content:flex-start;
  }

  .section-text {
    width: 80%;
  }

  .main-container {
    margin: 5%;
    display: block;
    width: 100%;
    font-size: medium;
  }

  .section-text-noflex {
    width: 80%;
  }

  .work-item {
    font-size: 13px;
  }

  .work-item-credits {
    padding-left: 4%;
  }

  .work-item-text {
    padding-top: 2%;
    padding-bottom: 4%;
  }

  .work-item-text > p {
    padding-top: 4%;
  }

  .work-list {
    width: calc(100%-20px);
  }

  .work-item-video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33vh;
    /* object-fit: cover; */
  }
  
  .work-item-video > video{
    flex: 0;
    max-width: 100%;
    object-fit:cover;
  }

  .work-item-image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .section-text {
    display: block;
    font-size: small;
  }

  .grid-item {
    width: calc(
      50% - 5px
    ); /* 50% to create 2 items per row on smaller screens */
  }

  .grid-item > img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}
